<!DOCTYPE html>
<html>
  <head>
    <title>Test Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style></style>
  </head>
  <body>
    <h1>自分のInstagramアカウントで投稿した画像一覧</h1>
    <div>
      <% for (let imageUrl of imageUrls) { %>
        <img src="<%= imageUrl %>"></img>
      <% } %>
    </div>
  </body>
</html>
